@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Employee";
}
@model Employee

<div class="card mt-2 p-4"> 

<form method="post">
        <div class="mb-3">
            <label asp-for="id" class="form-label"></label>
            <input asp-for="id" class="form-control" />
        </div>
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Designation" class="form-label"></label>
        <input asp-for="Designation" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Level" class="form-label"></label>
            <input asp-for="Level" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Department" class="form-label"></label>
        <input asp-for="Department" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="JoinDate" class="form-label"></label>
         <input asp-for="JoinDate" class="form-control" />
    </div>
        <button type="submit" class="btn btn-success"><i class="bi bi-save"> Save Employee</i></button>
</form>
</div>