
@model int[]
<html>
    <head>
        <title>Array works:</title>
</head>
<body>
  <h4>all numbers:[
      @foreach (int i in Model) 

        {
                    <b>@i,</b>            
        }
        ]
        </h4>
        <h4>@Model</h4>

</body>
</html>